*~
*.aux
*.bak
*.cache
*.cfg
*.class
*.config
*.exe
*.hi
*.ho
*.log
*.o
*.obj
.project
*.stderr
*.stdout
.DS_Store

# Directories
.idea/
.settings/
.vscode/
obj/
out/
target/

# Claude specific
CLAUDE.md
CLAUDE*local.md
.claude/

# Project specific
.adt
.ali
*_LOCAL.ini
*_LOCAL.json
*_LOCAL.md
*_LOCAL.txt
*_LOCAL/
